<section data-ng-controller="HomeController as homeCtrl" data-ng-init="homeCtrl.find(homeCtrl.items)">
  </br>
  </br>
  <div class="container">
    <div class="jumbotron">
      <h1>Data Visualization Materials</h1>
      <p class="lead">
      <img src="modules/core/img/open_eye.png" alt="Open eye picture"><br>
      They're hard to find and you need to know certain keywords to get what you
      want. Overall, it's a hassle. Here, they are searchable and accessible by
      tags. Try it out. 
      </p>
    </div>
  </div>

  <div class="page-header">
    <h1>All Items</h1>
  </div>

  <div masonry preserve-order reload-on-show>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-brick" data-ng-repeat="item in homeCtrl.items | filter:$root.searchText | orderBy:'-created'" data-ng-switch="item.type">
      <div data-ng-switch-when="link">
        <div class="thumbnail">
          <img src="{{item.img}}" alt="">
          <div class="caption">
            <a data-ng-href="{{item.url}}"><h3 data-ng-bind="item.name"></h3></a>
            <p data-ng-bind="item.description"></p>
          </div>
          <div class="caption" data-ng-show="((homeCtrl.authentication.user) &&
            (homeCtrl.authentication.user._id == item.user._id))">
            <a class="btn btn-primary" data-ng-click="homeCtrl.modalUpdate('lg', homeCtrl, item)">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="homeCtrl.modalDelete('lg', homeCtrl, item)">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
          <small class="caption">
            <span class="text-muted">
              Posted on
              <span data-ng-bind="item.created | date:'medium'"></span>
              by
              <span data-ng-bind="item.user.displayName"></span>
            </span>
          </small>
          </br>
          <small class="caption">
            <span class="text-muted">
              <span data-ng-repeat="tag in item.tags"><a data-ng-click="$root.searchText.$ = tag">#{{tag}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
          </small>
        </div>
      </div>
      <div data-ng-switch-when="paper">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3><a href="{{item.url}}">{{item.name}}</a></h3>
          </div>
          <div class="panel-body">
            <p class="hang">
            <span>{{item.authors}}</span>
            </span>
            ({{item.publication_date}}). {{item.name}}. 
            <span ng-if="item.collection != ''"><i>{{item.collect}}</i>.</span>
            </p>
            <div class="caption" data-ng-show="((homeCtrl.authentication.user) && (homeCtrl.authentication.user._id == item.user._id))">
              <a class="btn btn-primary" data-ng-click="homeCtrl.modalUpdate('lg', homeCtrl, item)">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" data-ng-click="homeCtrl.modalDelete('lg', homeCtrl, item)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <small class="caption">
              <span class="text-muted">
                Posted on
                <span data-ng-bind="item.created | date:'medium'"></span>
                by
                <span data-ng-bind="item.user.displayName"></span>
              </span>
            </small>
            </br>
            <small class="caption">
              <span class="text-muted">
                <span data-ng-repeat="tag in item.tags"><a data-ng-click="$root.searchText.$ = tag">#{{tag}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </span>
            </small>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="video">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="embed-responsive embed-responsive-16by9">
              <div ng-bind-html="item.embed | to_trusted">
              </div>
            </div>
            <h3><a href="{{item.url}}" target="_blank">{{item.name}}</a></h3>
            <p data-ng-bind="item.description">
            </p>
            </br>
            <div class="caption" data-ng-show="((homeCtrl.authentication.user) && (homeCtrl.authentication.user._id == item.user._id))">
              <a class="btn btn-primary" data-ng-click="homeCtrl.modalUpdate('lg', homeCtrl, item)">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" data-ng-click="homeCtrl.modalDelete('lg', homeCtrl, item)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <small class="caption">
              <span class="text-muted">
                Posted on
                <span data-ng-bind="item.created | date:'medium'"></span>
                by
                <span data-ng-bind="item.user.displayName"></span>
              </span>
            </small>
            </br>
            <small class="caption">
              <span class="text-muted">
                <span data-ng-repeat="tag in item.tags"><a data-ng-click="$root.searchText.$ = tag">#{{tag}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
