<section data-ng-controller="VideosController as videosCtrl" data-ng-init="videosCtrl.find()">
  <div class="page-header">
      <h1>Videos</h1>
  </div>

  <div class="row">
    <!-- The $root.searchText is "defined" in the header in public/modules/views -->
    <div class="col-md-offset-2 col-md-8" ng-repeat="video in videosCtrl.videos | filter:$root.searchText:strict">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-16by9">
            <div ng-bind-html="video.embed | to_trusted">
            </div>
          </div>
          <h3><a href="{{video.url}}" target="_blank">{{video.name}}</a></h3>
          <p data-ng-bind="video.description">
          </p>
          </br>
          <div class="caption" data-ng-show="((videosCtrl.authentication.user) && (videosCtrl.authentication.user._id == video.user._id))">
            <a class="btn btn-primary" data-ng-click="videosCtrl.modalUpdate('lg', videosCtrl, video)">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="videosCtrl.modalDelete('lg', videosCtrl, video)">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </div>
          <small class="caption">
            <span class="text-muted">
              Posted on
              <span data-ng-bind="video.created | date:'medium'"></span>
              by
              <span data-ng-bind="video.user.displayName"></span>
            </span>
          </small>
          </br>
          <small class="caption">
            <span class="text-muted">
              <span data-ng-repeat="tag in video.tags">#{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" data-ng-hide="!videosCtrl.videos.$resolved || videosCtrl.videos.length">
    No Videos yet, why don't you <a href="/#!/videos/create">create one</a>?
  </div>
</section>
