<section data-ng-controller="LinksController" data-ng-init="find()">
  <div class="page-header">
    <h1>Links</h1>
  </div>

  <div class="row">
    <!-- The $root.searchText is "defined" in the header in public/modules/views -->
    <div class="col-sm-6 col-md-4" data-ng-repeat="link in links | filter:$root.searchText:strict">
      <div class="thumbnail">
        <img src="{{link.img}}" alt="">
        <div class="caption">
          <a data-ng-href="{{link.url}}"><h3 data-ng-bind="link.name"></h3></a>
          <p data-ng-bind="link.description"></p>
        </div>
        <div class="caption" data-ng-show="((authentication.user) && (authentication.user._id == link.user._id))">
          <a class="btn btn-primary" data-ng-click="modalUpdate('lg', link)">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" data-ng-click="modalDelete('lg', link)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
        <small class="caption">
          <span class="text-muted">
            Posted on
            <span data-ng-bind="link.created | date:'medium'"></span>
            by
            <span data-ng-bind="link.user.displayName"></span>
          </span>
        </small>
        </br>
        <small class="caption">
          <span class="text-muted">
            <span data-ng-repeat="tag in link.tags">#{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </span>
        </small>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" data-ng-hide="!links.$resolved || links.length">
    No Links yet, why don't you <a href="/#!/links/create">create one</a>?
  </div>
</section>


