<section data-ng-controller="PapersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Papers</h1>
    </div>

    <div class="row">
      <div class="col-md-6" ng-repeat="paper in papers">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3><a href="{{paper.url}}">{{paper.name}}</a></h3>
          </div>
          <div class="panel-body">
            <p class="hang">
            <span>{{paper.authors}}</span>
            </span>
            ({{paper.publication_date}}). {{paper.name}}. 
            <span ng-if="paper.collection != ''"><i>{{paper.collect}}</i>.</span>
            </p>
            <div class="caption" data-ng-show="((authentication.user) && (authentication.user._id == paper.user._id))">
              <a class="btn btn-primary" data-ng-click="modalUpdate('lg', paper)">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" data-ng-click="modalDelete('lg', paper)">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <small class="caption">
              <span class="text-muted">
                Posted on
                <span data-ng-bind="paper.created | date:'medium'"></span>
                by
                <span data-ng-bind="paper.user.displayName"></span>
              </span>
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!papers.$resolved || papers.length">
    	No Papers yet, why don't you <a href="/#!/papers/create">create one</a>?
    </div>

</section>
